:root {
  --wwwhostgatorcombrscience-blue: rgba(0, 114, 214, 1);
  --wwwhostgatorcombrport-gore: rgba(31, 32, 68, 1);
  --wwwhostgatorcombrathens-gray: rgba(241, 243, 246, 1);
  --wwwhostgatorcombrnero: rgba(255, 255, 255, 1);
  --wwwhostgatorcombrboulder: rgba(117, 117, 117, 1);
  --wwwhostgatorcombrvalencia: rgba(218, 67, 54, 1);
  --wwwhostgatorcombrblack: rgba(1, 1, 1, 1);
  --wwwhostgatorcombrmine-shaft: rgba(54, 54, 54, 1);
  --wwwhostgatorcombrgreen: rgba(255, 241, 0, 1);
  --wwwhostgatorcombrgeyser: rgba(205, 216, 223, 1);
  --wwwhostgatorcombrpicton-blue: rgba(46, 147, 238, 1);
  --wwwhostgatorcombrlimeade: rgba(60, 151, 255, 1);
  --wwwhostgatorcombrmalachite: rgba(255, 213, 76, 1);
  --wwwhostgatorcombrgreen-haze: rgba(255, 145, 68, 1);
  --wwwhostgatorcombrmystic: rgba(227, 232, 238, 1);
  --wwwhostgatorcombrst-tropaz: rgba(45, 87, 138, 1);
  --wwwhostgatorcombrtulip-tree: rgba(237, 178, 72, 1);
  --wwwhostgatorcombrtango: rgba(244, 121, 36, 1);
  --wwwhostgatorcombrtrinidad: rgba(224, 84, 6, 1);
  --wwwhostgatorcombriron: rgba(226, 228, 230, 1);
  --wwwhostgatorcombrspring-green: rgba(255, 232, 133, 1);
  --wwwhostgatorcombrbright-sun: rgba(251, 206, 59, 1);
  --wwwhostgatorcombrthunder: rgba(35, 31, 32, 1);
  --wwwhostgatorcombrjaffa: rgba(238, 111, 58, 1);
  --wwwhostgatorcombrpiper: rgba(198, 101, 40, 1);
  --wwwhostgatorcombrlaser: rgba(211, 184, 117, 1);
  --wwwhostgatorcombrmuddy-waters: rgba(183, 140, 88, 1);
  --wwwhostgatorcombrbuff: rgba(242, 208, 139, 1);
  --wwwhostgatorcombryellow-metal: rgba(132, 107, 61, 1);
  --wwwhostgatorcombrjudge-gray: rgba(76, 64, 44, 1);
  --wwwhostgatorcombrebony: rgba(17, 17, 38, 1);
  --wwwhostgatorcombrdove-gray: rgba(112, 112, 112, 1);
  --wwwhostgatorcombrmirage: rgba(24, 25, 54, 1);
  --wwwhostgatorcombrghost: rgba(199, 200, 208, 1);
  --wwwhostgatorcombrbermuda-gray: rgba(107, 136, 173, 1);
  --wwwhostgatorcombrcamarone: rgba(255, 95, 0, 1);
  --wwwhostgatorcombrred: rgba(235, 0, 27, 1);
  --wwwhostgatorcombrtree-poppy: rgba(247, 158, 27, 1);
  --wwwhostgatorcombrtorea-bay: rgba(14, 69, 149, 1);
  --wwwhostgatorcombrbuttercup: rgba(242, 174, 20, 1);
  --wwwhostgatorcombrcerulean: rgba(0, 156, 222, 1);
  --wwwhostgatorcombrpomegranate: rgba(238, 64, 35, 1);
  --wwwhostgatorcombrresolution-blue: rgba(0, 48, 135, 1);
  --wwwhostgatorcombrpuerto-rico: rgba(50, 188, 173, 1);
  --wwwhostgatorcombroslo-gray: rgba(147, 149, 152, 1);
  --wwwhostgatorcombrecstasy: rgba(246, 121, 34, 1);
  --wwwhostgatorcombrmatisse: rgba(29, 82, 151, 1);
  --white-shades90: rgba(229, 118, 118, 1);
  --white: rgba(255, 255, 255, 1);
  --grey-shades70: rgba(179, 179, 179, 1);
  --grey-10: rgba(26, 26, 26, 1);
  --grey-15: rgba(38, 38, 38, 1);
  --www-hostgator-com-br-arial-narrow-12-underline-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-12-underline-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-12-underline-font-size: 12px;
  --www-hostgator-com-br-arial-narrow-12-underline-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-12-underline-line-height: 14px;
  --www-hostgator-com-br-arial-narrow-12-underline-font-style: normal;
  --www-hostgator-com-br-arial-bold-14-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-14-font-weight: 700;
  --www-hostgator-com-br-arial-bold-14-font-size: 14px;
  --www-hostgator-com-br-arial-bold-14-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-14-line-height: 14px;
  --www-hostgator-com-br-arial-bold-14-font-style: normal;
  --www-hostgator-com-br-arial-narrow-16-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-16-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-16-font-size: 16px;
  --www-hostgator-com-br-arial-narrow-16-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-16-line-height: 26px;
  --www-hostgator-com-br-arial-narrow-16-font-style: normal;
  --www-hostgator-com-br-arial-bold-10-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-10-font-weight: 700;
  --www-hostgator-com-br-arial-bold-10-font-size: 10px;
  --www-hostgator-com-br-arial-bold-10-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-10-line-height: 14px;
  --www-hostgator-com-br-arial-bold-10-font-style: normal;
  --www-hostgator-com-br-arial-bold-15-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-15-font-weight: 700;
  --www-hostgator-com-br-arial-bold-15-font-size: 15px;
  --www-hostgator-com-br-arial-bold-15-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-15-line-height: 16px;
  --www-hostgator-com-br-arial-bold-15-font-style: normal;
  --www-hostgator-com-br-arial-narrow-16-upper-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-16-upper-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-16-upper-font-size: 16px;
  --www-hostgator-com-br-arial-narrow-16-upper-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-16-upper-line-height: 24px;
  --www-hostgator-com-br-arial-narrow-16-upper-font-style: normal;
  --www-hostgator-com-br-arial-bold-75-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-75-font-weight: 700;
  --www-hostgator-com-br-arial-bold-75-font-size: 75px;
  --www-hostgator-com-br-arial-bold-75-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-75-line-height: 80px;
  --www-hostgator-com-br-arial-bold-75-font-style: normal;
  --www-hostgator-com-br-arial-narrow-20-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-20-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-20-font-size: 20px;
  --www-hostgator-com-br-arial-narrow-20-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-20-line-height: 28px;
  --www-hostgator-com-br-arial-narrow-20-font-style: normal;
  --www-hostgator-com-br-arial-narrow-15-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-15-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-15-font-size: 15px;
  --www-hostgator-com-br-arial-narrow-15-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-15-line-height: 17.25px;
  --www-hostgator-com-br-arial-narrow-15-font-style: normal;
  --www-hostgator-com-br-arial-bold-18-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-18-font-weight: 700;
  --www-hostgator-com-br-arial-bold-18-font-size: 18px;
  --www-hostgator-com-br-arial-bold-18-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-18-line-height: 26px;
  --www-hostgator-com-br-arial-bold-18-font-style: normal;
  --www-hostgator-com-br-arial-bold-24-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-24-font-weight: 700;
  --www-hostgator-com-br-arial-bold-24-font-size: 24px;
  --www-hostgator-com-br-arial-bold-24-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-24-line-height: 24px;
  --www-hostgator-com-br-arial-bold-24-font-style: normal;
  --www-hostgator-com-br-arial-bold-20-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-20-font-weight: 700;
  --www-hostgator-com-br-arial-bold-20-font-size: 20px;
  --www-hostgator-com-br-arial-bold-20-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-20-line-height: 23px;
  --www-hostgator-com-br-arial-bold-20-font-style: normal;
  --www-hostgator-com-br-arial-bold-45-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-45-font-weight: 700;
  --www-hostgator-com-br-arial-bold-45-font-size: 45px;
  --www-hostgator-com-br-arial-bold-45-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-45-line-height: 50px;
  --www-hostgator-com-br-arial-bold-45-font-style: normal;
  --www-hostgator-com-br-arial-bold-16-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-16-font-weight: 700;
  --www-hostgator-com-br-arial-bold-16-font-size: 16px;
  --www-hostgator-com-br-arial-bold-16-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-16-line-height: 18.399999618530273px;
  --www-hostgator-com-br-arial-bold-16-font-style: normal;
  --www-hostgator-com-br-arial-bold-12-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-12-font-weight: 700;
  --www-hostgator-com-br-arial-bold-12-font-size: 12px;
  --www-hostgator-com-br-arial-bold-12-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-12-line-height: 16px;
  --www-hostgator-com-br-arial-bold-12-font-style: normal;
  --www-hostgator-com-br-arial-narrow-14-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-14-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-14-font-size: 14px;
  --www-hostgator-com-br-arial-narrow-14-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-14-line-height: 19px;
  --www-hostgator-com-br-arial-narrow-14-font-style: normal;
  --www-hostgator-com-br-arial-bold-15-75-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-15-75-font-weight: 700;
  --www-hostgator-com-br-arial-bold-15-75-font-size: 15.75px;
  --www-hostgator-com-br-arial-bold-15-75-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-15-75-line-height: 20px;
  --www-hostgator-com-br-arial-bold-15-75-font-style: normal;
  --www-hostgator-com-br-arial-bold-15-88-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-15-88-font-weight: 700;
  --www-hostgator-com-br-arial-bold-15-88-font-size: 15.875px;
  --www-hostgator-com-br-arial-bold-15-88-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-15-88-line-height: 17px;
  --www-hostgator-com-br-arial-bold-15-88-font-style: normal;
  --www-hostgator-com-br-arial-narrow-24-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-24-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-24-font-size: 24px;
  --www-hostgator-com-br-arial-narrow-24-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-24-line-height: 30px;
  --www-hostgator-com-br-arial-narrow-24-font-style: normal;
  --www-hostgator-com-br-arial-bold-40-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-40-font-weight: 700;
  --www-hostgator-com-br-arial-bold-40-font-size: 40px;
  --www-hostgator-com-br-arial-bold-40-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-40-line-height: 54px;
  --www-hostgator-com-br-arial-bold-40-font-style: normal;
  --www-hostgator-com-br-arial-bold-32-81-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-32-81-font-weight: 700;
  --www-hostgator-com-br-arial-bold-32-81-font-size: 32.8125px;
  --www-hostgator-com-br-arial-bold-32-81-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-32-81-line-height: 42px;
  --www-hostgator-com-br-arial-bold-32-81-font-style: normal;
  --www-hostgator-com-br-arial-bold-35-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-35-font-weight: 700;
  --www-hostgator-com-br-arial-bold-35-font-size: 35px;
  --www-hostgator-com-br-arial-bold-35-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-35-line-height: 42px;
  --www-hostgator-com-br-arial-bold-35-font-style: normal;
  --www-hostgator-com-br-arial-bold-13-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-13-font-weight: 700;
  --www-hostgator-com-br-arial-bold-13-font-size: 13px;
  --www-hostgator-com-br-arial-bold-13-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-13-line-height: 17px;
  --www-hostgator-com-br-arial-bold-13-font-style: normal;
  --www-hostgator-com-br-arial-narrow-10-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-10-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-10-font-size: 10px;
  --www-hostgator-com-br-arial-narrow-10-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-10-line-height: 15px;
  --www-hostgator-com-br-arial-narrow-10-font-style: normal;
  --www-hostgator-com-br-arial-narrow-18-font-family: "Arial-Narrow", Helvetica;
  --www-hostgator-com-br-arial-narrow-18-font-weight: 400;
  --www-hostgator-com-br-arial-narrow-18-font-size: 18px;
  --www-hostgator-com-br-arial-narrow-18-letter-spacing: 0px;
  --www-hostgator-com-br-arial-narrow-18-line-height: 24px;
  --www-hostgator-com-br-arial-narrow-18-font-style: normal;
  --www-hostgator-com-br-arial-bold-30-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-30-font-weight: 700;
  --www-hostgator-com-br-arial-bold-30-font-size: 30px;
  --www-hostgator-com-br-arial-bold-30-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-30-line-height: 36px;
  --www-hostgator-com-br-arial-bold-30-font-style: normal;
  --www-hostgator-com-br-arial-bold-19-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-19-font-weight: 700;
  --www-hostgator-com-br-arial-bold-19-font-size: 19px;
  --www-hostgator-com-br-arial-bold-19-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-19-line-height: 22px;
  --www-hostgator-com-br-arial-bold-19-font-style: normal;
  --www-hostgator-com-br-arial-bold-22-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-22-font-weight: 700;
  --www-hostgator-com-br-arial-bold-22-font-size: 22px;
  --www-hostgator-com-br-arial-bold-22-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-22-line-height: 36px;
  --www-hostgator-com-br-arial-bold-22-font-style: normal;
  --www-hostgator-com-br-arial-bold-12-upper-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-12-upper-font-weight: 700;
  --www-hostgator-com-br-arial-bold-12-upper-font-size: 12px;
  --www-hostgator-com-br-arial-bold-12-upper-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-12-upper-line-height: 12px;
  --www-hostgator-com-br-arial-bold-12-upper-font-style: normal;
  --www-hostgator-com-br-arial-bold-19-69-font-family: "Arial-Bold", Helvetica;
  --www-hostgator-com-br-arial-bold-19-69-font-weight: 700;
  --www-hostgator-com-br-arial-bold-19-69-font-size: 19.6875px;
  --www-hostgator-com-br-arial-bold-19-69-letter-spacing: 0px;
  --www-hostgator-com-br-arial-bold-19-69-line-height: 23px;
  --www-hostgator-com-br-arial-bold-19-69-font-style: normal;
  --www-hostgator-com-br-inter-regular-20-font-family: "Inter-Regular", Helvetica;
  --www-hostgator-com-br-inter-regular-20-font-weight: 400;
  --www-hostgator-com-br-inter-regular-20-font-size: 20px;
  --www-hostgator-com-br-inter-regular-20-letter-spacing: 0px;
  --www-hostgator-com-br-inter-regular-20-line-height: 20px;
  --www-hostgator-com-br-inter-regular-20-font-style: normal;
  --body-font-family: "Poppins-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 14px;
  --body-letter-spacing: 0px;
  --body-line-height: 22px;
  --body-font-style: normal;
}
