@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap");

* {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #FBD300;
}

header {
  background-color: black;
}

header a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.header-menu:hover {
  transform: scale(1.05);
  transition: 0.8s;
}

.cor-selecao {
  color: #fbd300;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: black;
  height: 12vh;
  margin-right: 70px;
}

.navbar {
  list-style: none;
  display: flex;
  font-size: 1em;
}

.navbar li {
  margin: 1em;
}

.Logo {
  height: 4.1em;
  margin-left: 5rem;
}

ul img {
  height: 2em;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.Principal1 {
  width: 100%;
  margin: 0;
}

.container1 {
  height: 330px;
  background-color: black;
  display: flex;
  font-size: 1rem;
}

.column1 {
  flex: 1;
  padding: 80px;
  text-align: center;
  color: white;
}

.icon {
  width: 80px;
  height: 80px;
  border: 1px solid #000000;
  background-color: #fbd300;
  padding: 40px;
  margin: 60px;
  border-radius: 10px;
}

.Principal2 {
  width: 100%;
  margin: 0;
}

.DoeAqui {
  width: 80px;
  height: 60px;
  padding: 40px;
  margin: 60px;
  background: #fbd300;
  text-align: center;
  color: black;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}

.timeline {
  margin: 40px auto;
  max-width: 80%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 6px 1fr;
  color: #fff;
  border-radius: 13px;
  background-color: #fbd300;
}

.timeline__component {
  margin: 0 40px 20px 40px;
}

.timeline__component--bg {
  padding: 1.5rem;
  background-color: #ffe500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #000;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
}

.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__img {
  margin: 0 0 10px 0;
  height: 200px;
  border-radius: 22px;
}

.timeline__paragraph {
  color: #000;
  font-weight: 600;
}

#carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

#carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-img {
  width: 100%;
  height: auto;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
  color: #333;
  opacity: 0.5;
  transition: 0.5s ease-out;
}

.carousel-arrow:hover {
  opacity: 1;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.conheça {
  padding: 15px;
  background: #fbd300;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}

.Imagem-Final {
  width: 100%;
  margin: 0;
}

footer {
  font-size: 0.9em;
  background-color: #000000;
}

.nave-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nave-footer a {
  text-decoration: none;
  color: white;
}

.nave-footer li {
  margin: 4em 0.4em;
}

.informa-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
}

.informa-footer button {
  text-align: center;
  margin-right: 2em;
  padding: 0.5em;
  border-radius: 3em;
  border: none;
  cursor: pointer;
  background-color: #fbd300;
}

.informa-footer img {
  width: 8vw;
}

#sobe {
  width: 3vw;
}

.informa-footer ul {
  list-style: none;
}

.informa-footer a {
  text-decoration: none;
  color: white;
}

.req-footer {
  display: flex;
  justify-content: center;
  color: white;
  margin: 5em 0;
}

.req-footer img {
  width: 1.5vw;
  height: auto;
  margin: 0 0.7em;
}

.final-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2em 4em;
  background-color: #1a1a1a;
  border-radius: 50%;
}

.redes-footer {
  margin: 0.5em 1.5em;
}

.final-footer img {
  width: 3vw;
  margin-right: 0.6em;
}

.final-footer p {
  margin: 0px 20px;
}

.div-doacao {
    position: relative;
    text-align: center;
}

.div-doacao .doe {
    position: absolute;
    z-index: 1;
    top: 44%;
    left: 41%;
    padding: 10px 17px;
    border: 2px solid red;
    background-color: #FFF;
    border-radius: 30px;
    font-size: 35px;
    cursor: pointer;
}

.div-doacao .doe img {
    width: 37px;
    margin-right: 10px;
}

header nav ul li a::after {
  content: " ";
  width: 0%;
  height: 4px;
  background: linear-gradient(to right, #f8ef00, rgb(186, 20, 11));
  position: absolute;
  top: 25px;
  left: 0;
  transition: 0.5s ease-in-out;
}

header nav ul li a:hover::after {
  width: 100%;
}

.projeto {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projeto button {
  margin-top: 20px;
  width: 95%;
}

.projeto .experiencia {
  font-weight: 200;
}