@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles.css */
body {
    background-color: rgba(156, 204, 212, 0.75); /* Usando RGBA para definir a cor com transparência */
}

/* Estilos para h1 */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; /* Fonte Poppins em negrito */
}

/* Estilos para h2, h3, h4, ... */
h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Fonte Poppins em semibold */
}

/* Estilos para p */
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Fonte Poppins em medium */
}

header {
    background-image: url(../img/indexSWD/principal/fundoazul.png);
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
}

#comece-agora-btn {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
}

.main-section div {
    flex: 1;
    text-align: center;
    padding: 20px;
}

#projetos-landing {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%; /* Alterado para 100% */
    height: auto;   
}

.main-section h1, .main-section h2 {
    text-transform: uppercase;
}

main {
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.projects-section {
    padding: 20px;
}

.project {
    margin: 20px;
    display: inline-block;
    text-align: left;
}

.project img {
    width: 550px;
    height: 435px;
}

h1 {
    letter-spacing: 20%;
    font-weight: bold;
}

p {
    font-weight: 500; /* 500 é o equivalente a "medium" para a fonte "Poppins" */
}

.partners-section {
    text-align: center;
    padding: 20px;
}

.partners-section .partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.partner-logos img {
    width: 100px;
    height: auto;
    margin: 10px;
}

.custom-section {
    text-align: center;
    padding: 20px;
}

.custom-section .custom-div {
    display: flex;
    justify-content: space-around;
}

.custom-subdiv {
    flex: 1;
    width: 362px;
    height: 733.20px;
    padding: 20px;
    background-color: #eee;
    margin: 0 10px;
}

.payment-section {
    text-align: left;
    padding: 20px;
}

.payment-title {
    font-weight: bold;
}

.payment-methods {
    display: flex;
}

.payment-method {
    width: 55px;
    height: 35px;
    margin: 0 10px;
}

.domain-section {
    text-align: left;
    padding: 20px;
}

.domain-section .domain-article {
    width: 268px;
    height: 220px;
    background-color: #eee;
    margin: 10px;
    padding: 10px;
}

.domain-article h4 {
    font-weight: bold;
}

.domain-article p {
    font-weight: 500;
}

.domain-article button {
    width: 127px;
    height: 40px;
    border: 4px solid #000;
}

.form-field {
    width: 1320px;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
}

.form-button {
    width: 190px;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.captcha-container {
    text-align: center;
}
