@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 500vh;
  font-family: "Lexend", sans-serif;
}

.container header {
  width: 100%;
  height: 90px;
  flex-shrink: 0;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container header a {
  height: 75%;
  margin: 0 35px;
}

.container header a img {
  height: 100%;
  flex-shrink: 0;
}

.container header nav a span {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 5px;
}

.container header nav {
  margin: 0 25px;
}

.container header nav a {
  text-decoration: none;
  color: #fff;
  position: relative;
  margin: 0 5px;
}

.container header nav a::after {
  content: " ";
  width: 0%;
  height: 4px;
  background: linear-gradient(to right, #f8ef00, rgb(186, 20, 11));
  position: absolute;
  top: 20px;
  left: 0;
  transition: 0.5s ease-in-out;
}

.container header nav a:hover::after {
  width: 100%;
}

#carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
}

#carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-img {
  width: 100%;
  height: auto;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
  color: #333;
  opacity: 0.5;
  transition: 0.5s ease-out;
}

.carousel-arrow:hover {
  opacity: 1;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.black-division {
  width: 100%;
  height: 21px;
  background-color: #000;
}

.desc-area {
  width: 100%;
  height: 500px;
  background-image: url("../img/desc-img-black-withe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-area .info {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desc-area .info p {
  color: #fff;
}

.desc-area .info #text-1 {
  width: 33%;
}

.desc-area .info #text-2 {
  width: 33%;
}

.desc-area .info .area-image {
  margin: 0 10px;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-area .info .area-image .icon {
  background-color: #f8ef00;
  height: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  position: relative;
}

.desc-area .info .area-image .icon img {
  position: relative;
  left: 3px;
  height: 130px;
}

#text-1,
#text-2 {
  text-transform: uppercase;
  font-weight: bold;
}

.notebook {
}

.notebook .titulo {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, #f8ef00, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.notebook .titulo p {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.notebook .area {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 70px;
  background-color: #eeeeee;
  border-radius: 18px;
  display: flex;
  align-items: center;
}

@media (max-width: 1182px) {
  .notebook .area {
    flex-direction: column;
    height: 830px;
    padding: 20px 0;
  }

  .notebook .area p {
    width: 400px;
    font-size: 10px;
    margin: 90px 0;
  }

  .notebook .area .image {
    height: 400px;
  }

  .notebook .area .image img{
    width: 900px;
    height: 700px;
  }
}

@media (min-width: 1182px) {

}

.notebook .area p {
  width: 30%;
  font-size: 30px;
  font-weight: 600;
  margin: 0 30px;
}

.notebook .area .image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notebook .area .image img {
  /* height: 400px; */
}

.cards {
  width: 100%;
  height: 860px;
  background-color: #ffef12b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card-list {
  width: 90%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 650px;
  background-color: #fff;
  padding: 20px;
  border-radius: 22px;
  margin: 0 20px;
}

.card img {
  height: 370px;
  border-radius: 22px;
  margin-bottom: 22px;
}

.card p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 15px;
}

.card a {
  width: 96%;
  padding: 6px 0;
  background-color: #0d6efd;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
}

.card:hover {
  transform: scale(1.1);
  border: 4px solid #333;
}

.street-view-box {
  width: 100%;
  height: 500px;
  /* min-height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.street-view {
  width: 95%;
  height: 100%;
  border-radius: 8px;
  margin-top: 50px;
  /* margin: 20px auto; */
}

.timeline {
  margin: 40px auto;
  max-width: 90%;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 6px 1fr;
  color: #fff;
}

@media (max-width: 1244px) {
  .timeline {
    display: block;
  }

  .timeline__point {
    display: none;
  }
}

.timeline__component {
  margin: 0 40px 20px 40px;
}

.timeline__component--bg {
  padding: 1.5rem;
  background: #ffe500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #000;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
}

.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__img {
  margin: 0 0 10px 0;
  height: 200px;
  border-radius: 22px;
}

.timeline__paragraph {
  color: #000;
  font-weight: 600;
}

.img-predio {
  width: 100%;
  position: relative;
  top: 90px;
  z-index: -1;
}

footer {
  font-size: 0.9em;
  background-color: #000;
  padding-bottom: 20px;
}

footer p, footer a{
  font-weight: 700;
}

.nave-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nave-footer a {
  text-decoration: none;
  color: white;
}

.nave-footer li {
  margin: 4em 0.4em;
}

.informa-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
}

.informa-footer button {
  text-align: center;
  margin-right: 2em;
  padding: 0.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #fbd300;
}

.informa-footer img {
  width: 8vw;
}

#sobe {
  width: 3vw;
}

.informa-footer ul {
  list-style: none;
}

.informa-footer a {
  text-decoration: none;
  color: white;
}

.req-footer {
  display: flex;
  justify-content: center;

  margin: 5em 0;
}

.req-footer img {
  height: 16px;
  margin: 0 0.7em;
}

.req-footer p {
  color: #fff;
}

.final-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2em 4em;
  margin-bottom: 20px;
  background-color: #1a1a1a;
  border-radius: 2em;
}

.redes-footer {
  margin: 0.5em 1.5em;
}

.final-footer img {
  width: 3vw;
  margin-right: 0.6em;
}

.final-footer p {
  margin: 0px 20px;
  color: #fff;
}

@media (max-width: 767px) {
  footer {
    /* Alterado */
    font-size: 1em;
  }

  .informa-footer button {
    /* Alterado */
    display: none;
  }

  .informa-footer img {
    /* Alterado */
    width: 20vw;
  }

  .req-footer {
    /* Alterado */
    display: grid;
    margin: 2em 0;
  }

  .req-footer img {
    /* Alterado */
    display: none;
  }

  .req-footer p {
    /* Alterado */
    margin: 0.4em 1em;
  }

  .final-footer {
    display: grid;
    margin: 0.2em 1em;
  }

  .redes-footer {
    display: none;
  }

  .final-footer p {
    margin: 0.1em 1em;
    padding: 0.2em;
  }
}