@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

/* CONFIGURAÇÕES PRINCIPAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9cccd4;
  color: #000000;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

p,
.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 300 bold;
}

.menu {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* HEADER */

header {
  background-image: url(../img/indexSWD/principal/fundoazul.svg);
  width: 100%;
  max-height: 12vh;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
}

.logo {
  margin-left: 4%;
}

.logo-svg {
  width: 65%;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 4% 0 4%;
}

.menu a {
  text-decoration: none;
  position: relative;
  color: #fff;
  margin: 5px;
  font-size: 95%;
}

.menu a:hover {
  color: #9be2e0;
}

.menu a:hover::after {
  width: 100%;
}

.menu a::after {
  content: "";
  width: 0%;
  height: 1px;
  background: linear-gradient(to right, #9be2e0, rgb(255, 255, 255));
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.btn {
  white-space: nowrap;
  background-color: #9cccd4;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 0%;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

/* Estilo do botão quando o mouse está sobre ele */
.btn:hover {
  color: black; /* Cor preta quando o mouse está sobre o botão */
}
.botao {
  margin-right: 4%;
}

@media (max-width: 768px) {
  header {
    flex-direction: row; /* Altera a direção para coluna em telas menores */
    padding: 1px 1rem; /* Ajusta o padding para telas menores */
    text-shadow: none;
    position: relative;
  }

  .logo {
    margin-left: -50px;
  }

  .logo-tam {
    margin: 0.5rem;
    width: 10vw;
  }

  .h1-tam {
    margin: 1rem 2rem 1rem 0;
    width: 50vw;
  }

  .menu {
    display: none;
  }

  .btn {
    display: none; /* Oculta o botão em telas menores */
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }

  .line1,
  .line2,
  .line3 {
    height: 3px;
    width: 25px;
    background-color: #9cccd4;
    margin: 6px 0;
    transition: 0.4s;
  }
}

@media (max-width: 768px) {
  .h1-spacing,
  .h1-c {
    white-space: nowrap;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 10%;
    margin-bottom: 2%;
    letter-spacing: 1px;
    font-size: 5vw;
  }
}

/* PRINCIPAL IMG E TEXTO */

#section-principal {
  overflow: hidden;
  border-bottom: #ffffff 5px solid;
  position: relative;
}

#img-principal {
  width: 100%;
  min-height: 99.5vh;
  max-height: 1080px;
  animation: fadeInOut 5s infinite alternate; /* Adiciona a animação com efeito fadeIn/fadeOut */
}

@keyframes fadeInOut {
  50% {
    opacity: 1; /* Opacidade inicial (imagem totalmente visível) */
  }

  80% {
    opacity: 0.7; /* Opacidade no meio da animação (imagem totalmente transparente) */
  }

  100% {
    opacity: 1; /* Opacidade final (imagem totalmente visível novamente) */
  }
}

#div-left,
#div-right {
  position: absolute;
  max-width: 45%;
  /* Ajuste conforme necessário */
  box-sizing: border-box;
  /* Adiciona um pequeno espaçamento entre o texto e a borda da div */
}

#div-left {
  left: 5%;
  top: 30%;
  text-align: left;
  /* Alinha o texto à esquerda */
}

#div-right {
  right: 5%;
  top: 40%;
  text-align: right;
  /* Alinha o texto à direita */
}

/* Ajuste os estilos dos títulos e parágrafos conforme necessário */
#h1-left,
#h2-right {
  font-size: 2vw;
  /* Use vw para tamanho relativo à largura da viewport */
  font-weight: bold;
  /* Adiciona negrito */
  white-space: normal;
  /* Permite que o texto quebre */
}

#h1-left:hover,
#h2-right:hover {
  font-size: 2vw; /* Tamanho desejado ao passar o mouse sobre os títulos */
}

#p-left,
#p-right {
  letter-spacing: 1px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-size: 1.5vw;
  /* Use vw para tamanho relativo à largura da viewport */
  font-weight: bold;
  /* Adiciona negrito */
  white-space: normal;
  /* Permite que o texto quebre */
}

#p-left:hover,
#p-right:hover {
  font-size: 1.6vw; /* Tamanho desejado ao passar o mouse sobre os parágrafos */
}

/* Adiciona um drop shadow */
#h1-left,
#h2-right,
#p-left,
#p-right {
  text-shadow: 1px 1px 1px #000000;
  transition: color 2.7s ease;
  transition: font-size 1s ease;
}

#h1-left:hover,
#p-left:hover,
#h2-right:hover,
#p-right:hover {
  color: #fff; /* Cor desejada ao passar o mouse sobre os elementos */
}

#landing-principal {
  display: none;
}
/* H1 PADRÃO */

.h1-spacing {
  white-space: nowrap;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 10%;
  margin-bottom: 2%;
  letter-spacing: 1px;
  font-size: 1.8em;
}

/* IMG PROJETOS PADRÃO */

.project-image {
  max-width: 100%; /* Torna a imagem responsiva */
  height: auto; /* Garante que a proporção da imagem seja mantida */
  max-width: 400px; /* Define uma largura máxima específica para a imagem */
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem 10rem; /* Ajustado para ser consistente com a parte superior */
  margin-bottom: 20px;
}

.project > div {
  flex: 1;
}

.titulo-projeto {
  font-size: 1.5em;
}

.project-left,
.project-right {
  font-size: 1em;
  white-space: normal;
}

.project-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem 10rem; /* Ajustado para ser consistente com a parte superior */
  margin-bottom: 20px;
}

/* IMG - TEXTO LADO A LADO */

.project-social > div {
  flex: 1;
  text-align: right;
}

.titulo-projeto {
  font-size: 1.5em;
}

.project-left,
.project-right {
  font-size: 1em;
  white-space: normal;
}

/* PARCEIROS */

.partner-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 5% 10rem 5% 10rem;
  width: 100%;
  margin: 0 auto;
}

.partner-logos img {
  max-width: 100%;
  height: auto;
}

.text {
  background-color: #000000;
  color: #fff;
}
#text-parceiros {
  display: flex;
  text-align: right;
  margin: 0 10rem 1rem;
  padding-bottom: 5%;
  font-size: 80%;
}

/* PLANOS */

.custom-section {
  max-width: 1800px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  margin-bottom: 5%;
}

.custom-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.p-box {
  background-color: #04141c;
  color: #9be2e0;
  padding: 2%; /* Adicionado preenchimento */
}

.domain-button {
  padding: 3%;
  width: 55%;
  background-color: #000000;
  color: #fff;
  border: 1px solid #9cccd4;
  margin-top: 2vh; /* Adicionado para espaçamento superior */
}

/* Removendo estilos da lista */
.custom-subdiv {
  width: 370vw;
  height: auto;
  background-color: black;
  color: #fff;
  border: 0.1px solid #9cccd4;
  padding: 2% 2% 2% 2%;
  padding-top: 1%;
  margin-bottom: 2vh;
  flex: 1;
  box-sizing: border-box;
  text-align: center;
}

.custom-subdiv h3 {
  font-size: 25px;
  font-weight: bold;
}

.custom-subdiv h4,
.custom-subdiv p {
  text-align: left;
  font-size: 90%;
}

.custom-subdiv button {
  padding: 2% 5%; /* Ajuste o preenchimento do botão */
  margin: 5%;
}

/* Se necessário, ajuste o tamanho da fonte para as listas */
.custom-subdiv ul li,
.custom-subdiv ol li {
  font-size: 80%;
  text-align: left;
  list-style-type: none;
  font-weight: 600;
  letter-spacing: 0.5%;
  text-transform: uppercase;
}

.custom-subdiv ol li {
  list-style-type: decimal;
  margin-left: 7%;
  font-weight: 600;
  letter-spacing: 0.5%;
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

#espaçamento {
  margin-left: 9rem;
  margin-bottom: 40%;
}

#center {
  text-align: center;
  color: #9be2e0;
  text-transform: uppercase;
}

/* CONTRAÇÃO */

#espaçamento1 {
  margin-left: 10em; /* Alterei para uma unidade relativa */
  margin-right: 8em; /* Alterei para uma unidade relativa */
  margin-top: 5%; /* Alterei para uma unidade relativa */
}

.list {
  list-style-type: none;
  margin: 2%; /* Alterei para uma unidade relativa */
}

.h1-c {
  letter-spacing: 1px;
  font-size: 1.8em;
}

/* FORMULÁRIO */

section form {
  background-color: #000000;
  color: white;
  padding: 5% 20% 5% 10%;
  border-radius: 5px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
}

.form-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

.form-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid white;
  background-image: url(../img/indexSWD/principal/fundoazul.svg);
  color: white;
  transition: width 0.3s ease-in-out; /* Adiciona uma transição suave de 0.3 segundos */
}

.form-field:hover {
  width: 110%; /* Aumenta o tamanho em 10% quando o mouse está sobre o campo */
}

.hidden-label {
  display: none;
}

.card {
  width: 100%;
}

.card-body {
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9cccd4;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}

.popup p {
  margin: 0;
}

.show-popup {
  display: block !important;
}

/* QUEM SOMOS */

.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 70%; /* Defina a largura desejada para o dropdown */
  margin-left: 10rem;
  margin-right: 10rem;
}

.dropdown-btn {
  padding: 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  padding: 1%;
}

.dropdown-content p {
  padding: 15px;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* DEPOIMENTOS */

#dep {
  text-align: center;
  padding: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 4%;
  margin-bottom: 4%;
}

#img-dep {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide em duas colunas iguais */
  grid-gap: 20px; /* Adiciona espaço entre as colunas */
}

#id-dep {
  text-align: left;
}

#p-bottom {
  grid-row: span 2; /* Faz com que o parágrafo ocupe as duas colunas */
  margin-top: 20px; /* Adiciona espaço acima do parágrafo */
}

h1.h1-spacing {
  margin-bottom: 20px;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial {
  margin: 10px;
  background-color: #04141c;
  color: #9be2e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: color 2.7s ease;
  transition: size 1s ease;
  transition: 2s ease;
}

.testimonial:hover {
  background-color: #000;
  color: #ffffff;
  transform: scale(1.1);
}

.testimonial img {
  max-width: 100%;
  border-radius: 50%;
}

h4 {
  margin-top: 10px;
}

/* FOOTER */

#footer-pt1 {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

#footer-pt1 div {
  flex: 1;
  max-width: 300px; /* Ajuste conforme necessário */
  margin: 10px;
  text-align: left;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

p {
  font-size: 0.9em;
  margin-top: 0;
}

.form-button {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #9cccd4;
}

img {
  max-width: 100%;
  height: auto;
}

/* Ajustes específicos para o botão e a imagem no primeiro div */
#footer-pt1 div:first-child .form-button {
  margin-bottom: 10px;
}

#footer-pt1 div:nth-child(2) img {
  max-width: 50px; /* Ajuste conforme necessário */
}

#footer-pt2 {
  background-image: url(../img/indexSWD/principal/fundoazul.svg);
  color: #fff;
  padding: 20px;
  gap: 20px; /* Adicionado para espaçamento entre as colunas */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhamento à esquerda */
  padding: 10px; /* Adicionado espaçamento interno */
}

.logo h4 {
  margin-top: 10px;
  margin-left: 10px; /* Adicione margem à esquerda se necessário */
}

.payment-methods,
.icons {
  display: flex;
  flex-wrap: wrap; /* Impede quebras para a próxima linha */
  align-items: center;
  justify-content: center; /* Adicionado para centralizar */
  flex-grow: 1; /* Adicionado para ocupar o espaço restante e empurrar a div de pagamento para o centro */
  padding: 10px; /* Adicionado espaçamento interno */
}

.payment-method {
  margin-top: 10px;
}

#footer-pt1 .footer-link {
  text-decoration: none;
  color: #ffffff;
}

#footer-pt1 .footer-link:hover {
  color: #9cccd4;
}

.icon {
  margin-top: 10px;
}

.icon img {
  width: 2rem;
}

#copy {
  font-size: 80%;
}

/* REFORÇO DE RESPONSIVIDADE */

@media (max-width: 768px) {
  .h1-spacing,
  .h1-c {
    white-space: nowrap;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 10%;
    margin-bottom: 2%;
    letter-spacing: 1px;
    font-size: 5vw;
  }
}

@media screen and (max-width: 768px) {
  /* Aplique estilos específicos para telas menores que 768 pixels */

  /* Exemplo: Alterar a largura do dropdown para ocupar a largura total */
  .dropdown {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  /* Adicione estilos para tornar o conteúdo do dropdown empilhado */
  .dropdown-content {
    position: static;
    width: 100%;
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Adapte outros estilos conforme necessário para uma experiência mais amigável em telas menores */
  /* Por exemplo, ajuste tamanhos de fonte, margens, etc. */
}

@media screen and (max-width: 700px) {
  .custom-section {
    max-width: 1800px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .custom-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .custom-subdiv h3 {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
  }
  .custom-subdiv {
    padding: 1% 0.8% 1% 0.8%;
  }
}

/* Adicione a seguinte regra ao seu arquivo de estilo CSS */
@media screen and (max-width: 700px) {
  .plan-carousel {
    display: block;
  }

  .plan-carousel .custom-div {
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .plan-carousel .custom-subdiv {
    flex: 0 0 auto;
    width: 99%;
    min-height: 640px;
    margin-right: 0;
  }

  .domain-button {
    white-space: nowrap;
  }
}

@media screen and (max-width: 600px) {
  #espaçamento1 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .list {
    margin: 1em;
  }
}

@media screen and (max-width: 700px) {
  #text-parceiros {
    display: flex;
    text-align: right;
    margin: 0 1rem 1rem;
    padding-bottom: 5%;
    font-size: 60%;
  }

  .partner-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 5% 1rem 5% 1rem;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  #section-principal {
    display: none;
  }

  #landing-principal {
    display: block;
    border-bottom: #ffffff 5px solid;
  }
}

@media (max-width: 768px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem; /* Margens menores para telas menores */
    font-size: 80%;
  }

  .project-social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 2rem; /* Margens menores para telas menores */
    font-size: 80%;
  }

  .project-image {
    max-width: 100%;
  }

  .project-social {
    margin: 2rem; /* Margens menores para telas menores */
  }

  .project-social > div {
    text-align: left; /* Alinha o texto à esquerda em telas menores */
  }

  #div-left {
    left: 5%;
    top: 10%;
    text-align: left;
    /* Alinha o texto à esquerda */
  }

  #div-right {
    right: 5%;
    top: 12%;
    text-align: right;
    /* Alinha o texto à direita */
  }
  #h1-left,
  #h2-right,
  #p-left,
  #p-right {
    font-size: 60%;
    text-shadow: none;
    font-weight: bold;
  }

  #section-principal {
    max-height: 300px;
  }
}

@media (max-width: 768px) {
  #dep {
    font-size: 4vw;
    margin: 0;
  }
}

@media (max-width: 768px) {
  #footer-pt1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; /* Adiciona espaço entre as colunas */
    font-size: 45%;
  }
}

@media (max-width: 768px) {
  #footer-pt2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px; /* Adiciona espaço entre as colunas */
    font-size: 77%;
    padding: 0;
    max-height: 220px;
  }

  .logo {
    align-items: center;
  }

  .payment-method {
    width: 30px;
  }

  .icons {
    width: 300px;
  }
}
