@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: white;
}

header a {
    font-size: 1em;
    text-decoration: none;
    color: white;
}

.header-menu:hover {
    transform: scale(1.05);
    transition: .8s;
}

.cor-selecao {
    color: #FBD300;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 12vh;
    margin-right: 70px;

}

.navbar {
    list-style: none;
    display: flex;
    font-size: 1em;

}

.navbar li {
    margin: 1em;
}

.Logo {
    height: 4.1em;
    margin-left: 5rem;

}

ul img {
    height: 2em;
    vertical-align: middle;
    margin-left: 0.5rem;
}

.Principal {
    width: 100%;
    height: 100vh; 
    margin: 0;
}

.sobre {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    margin: 1em 1.5em;
}

.icon {
    width: 50px;
    height: auto;
    margin: 20px
}


.container {
    display: flex;
    font-size: 0.8rem;
}

.column {
    flex: 1;
    padding: 30px;
    text-align: center;
}

.titulo-caixa {
    margin: 30px;
}

.column+.column {
    border-left: 1px solid #ccc;
}

.texto-aszn {
    margin: 8%;
    text-align: center;
    font-size: 0.8rem;

}

.card {
    width: 13rem;
    height: 13rem;
    text-align: center;
    border: 1px solid #000000;
    background-color: #FBD300;
    color: black;
    padding: 10px;
    margin: 10px;
    margin-bottom: 9%;
    border-radius: 10px;
    font-size: 0.9em;
    /* ou 14px*/
}

.card:hover {
    transform: scale(1.05);
    transition: .5s;
}

.imagem2 {
    margin: 10px;
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
}

.card-vagas {
    width: 480px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

.lista-requisitos li {
    margin: 10px;
    margin-left: 20px;
}

.card-vagas h2 {
    margin-bottom: 10px;
}

.card-vagas h3 {
    margin-top: 10px;
}

.localidade {
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 8px;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
}

.candidata {
    display: flex;
    justify-content: center;
}

.candidatura {
    padding: 15px;
    background:#FBD300;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.conjunto-vagas {
    display: flex;
    justify-content: space-around;
}

.data {
    margin-right: 20px;
}

.teste2 {
    margin-top: 9%;
    padding: 2%;
    border-top: 1px solid #ffffff;
    display: flex;

}

.teste2 h1 {
    margin: 2em;

}

.teste2 img {
    width: 25vw;
    height: 80vh;
    margin-top: 2.5em;
}

#emprego {
    margin-right: 1.2em;
}

.help {
    text-align: center;
    font-size: 0.7em;
    margin: 5em 0.8em;
   }

#ajuda {
    width: 8vw;
    height: 18.5vh;
}

#separa {
    width: 100%;
    height: 3vh;
    margin: 1.7em 0;
}

